<header class="fixed-top">
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start text-white"
      >
        <a
          href="/home"
          class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
        >
          <svg class="bi me-2 f-logo" width="40" height="32">
            <use xlink:href="bootstrap-icons.svg#wechat" />
          </svg>
          CRM Project
        </a>
      </div>
    </div>
  </div>
  <div class="h-gb"></div>
</header>
