<footer class="footer mt-auto">
  <div class="f-gb"></div>
  <div class="px-3 py-2 text-bg-dark">
    <div
      class="container d-flex flex-wrap justify-content-between align-items-center"
    >
      <p class="col-md-5 mb-0 text-white">CRM Projects</p>

      <a
        href="/"
        class="col-md-2 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none text-white f-logo"
      >
        <svg class="bi me-2 f-logo" width="40" height="32">
          <use xlink:href="bootstrap-icons.svg#wechat" />
        </svg>
      </a>
      <p class="col-md-5 text-white mb-0 text-end">
        © 2023 - JAVA Full Stack, m2i
      </p>
    </div>
  </div>
</footer>
